* {
  box-sizing: border-box;
}

body {
  background-color:#eef6ff !important ;
}

section {
  margin-top: 1.5rem;
}

h1 {
  color: #60a2ff;
  font-size: 100px !important;
  font-family: 'Abril Fatface', cursive;
}

h4 {
  margin-top: 1.5rem !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200 !important;
}

#main-nav {
  position: fixed;
}

.landing-page {
  text-align: center;
}

.landing-nav {
  display: flex;
  justify-content: space-evenly;
  margin: 3.5rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.landing-page {
  margin: 12% auto
}

.landing-btn {
  width: 150px;
  background-color:#60a2ff !important;
  border-color: #60a2ff !important;
}

.landing-btn:hover {
  box-shadow: 0 0 0 .5em #5690e228, 0 0 0 1em #5690e218, 0 0 0 2em #5690e20a;
  background-color:#5691e2 !important;
  border-color: #5691e2 !important;
}

.employee-name-input, .task-name-input {
  width: 88% !important;
  margin: 1rem;
}

.list-container {
  position: fixed;
  top: 25px;
  left: 25%;
  right: 4%;
}

.side-bar {
  width: 300px;
  height: 100%;
  margin-right: 5rem;
  background-color: #60a2ff;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 3px 0 5px rgb(185, 185, 185);
  text-align: center;
}

.side-bar-title {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600 !important;
}