* {
  box-sizing: border-box;
}

body {
  background-color:#eef6ff ;
}

#main-nav {
  position: fixed;
}

.list-container {
  position: fixed;
  top: 25px;
  left: 25%;
  right: 4%;
}

.landing-page {
  text-align: center;
}

.landing-nav {
  display: flex;
  justify-content: space-evenly;
}

.side-bar {
  width: 300px;
  height: 100%;
  background-color: #60a2ff;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 3px 0 5px rgb(185, 185, 185);
  text-align: center;
}
